{% extends 'main.html' %}

    {% block content %}
    <style>
        .home {
        display: grid;
    grid-template-columns: 1fr 3fr;
    }
    .sidebar h3, h4 {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .media_list {
        margin: 0 5em 0 5em;
    }
    </style>
<div class="home">
    <div class="sidebar">
        <h3>Media Tags</h3>
            <!-- <h4><a href={% url 'home'%}>All</a></h4> 
            {% for tag in tags %}
            <h4><a href={% url 'home'%}?q={{tag.name}}>{{tag.name}}</a></h4> 
            {% endfor %}
        <hr>
    </div>
    <div class="media_list">
        <h1>Content</h1>
        <div>
            {% for media in medias %}
            <h3><a href={% url 'content' media.id %}>{{ media.title }}</a> {{ media.genre }} 
                <a href={% url 'update-media' media.id %}>Edit</a>
                <a href={% url 'delete-media' media.id %}>Delete</a>
            </h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
